# Build directories by various build systems

build/
out/
output/
bin/
common/libs/
fabric/libs/
neoforge/libs/
classes/
.gradle/

# Data generated while running Minecraft or tests

run/
.devauth/microsoft_accounts.json
*/logs/*

# IDEs

.idea/
.classpath
.project
.metadata
.vscode
.settings
*.ipr
*.iws
*.iml
*.launch

# Files generated during github actions

node_modules
package-lock.json
package.json

# macOS

.DS_Store
.AppleDouble
.LSOverride
